<!DOCTYPE html>
<html lang="en" ng-app="myApp"> 
<head>
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body>
 
  <div class="jumbotron">
     <div class="container">
        <h1>Todo-List</h1>
        <div ui-view></div>
     </div>
  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="../bower_components/ngstorage/ngStorage.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main-controller.js"></script>

  <script type="text/ng-template" id="main.html">
    <input type="text" ng-model="todo.task" placeholder="Enter a new task..."> 
    <button ng-click="addTask()">Add</button>
    <ul> 
      <li ng-repeat="task in tasks track by $index" ng-show="task != undefined"> 
        {{task}} <button ng-click="removeTask($index)">Remove</button>
      </li>
    </ul>
  </script> 
</body>
</html>
